.analysis-info {
    display: flex;
    justify-content: space-between;

    .desc{
        font-size: 25px;
    }

    @media (max-width: 768px) {
        flex-direction: column;
        gap: 10px;
    }

    .analysis-btn {
        background-color: #111111;
        color: #fff;
        margin: 0 0 0 10px;
        padding: 6px 14px;
        border: none;
        font-size: 14px;
        font-weight: 700;
        border-radius: 6px;
        transition: 0.3s;

        &:hover {
            background-color: #04b6e7;
        }

        @media (max-width: 768px) {
            margin: 5px 5px 0 0;
            padding: 5px 10px;
            font-size: 12px;
        }
    }
}

.analysis-main {

    .analysis-content {
        display: flex;
        justify-content: space-between;


        @media (max-width: 968px) {
            flex-direction: column;
            gap: 15px;
        }
    }

}

.graphs {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    width: 100%;
}

@media (max-width: 768px) {
    .graphs {
        flex-direction: column;
        gap: 30px;
        align-items: center;
    }

    .graphs>div {
        width: 100% !important;
        max-width: 530px;
    }
}